apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: validate-frontend-stage
resources:
  - ../../base
  - namespace.yaml
patches:
  - path: ingress-patch.yaml
images:
  - name: ghcr.io/klimatbyran/validate-frontend
    newTag: '1.1.1' # {"$imagepolicy": "flux-system:validate-frontend-stage:tag"}
